<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">United Agencies</a>

        <!-- Buttons -->
        <div class="d-flex">
            <!-- External Website Button -->
            <button (click)="openExternalWebsite()" class="external-button">
                <fa-icon style="font-size: 16px;" [icon]="faLocationDot"></fa-icon>
            </button>

            <!-- Theme Toggle Button -->
            <button (click)="toggleTheme()" class="toggle-button" [ngClass]="{ 'dark-mode': isDarkMode }">
                <fa-icon style="font-size: 16px;" [icon]="isDarkMode ? faMoon : faSun"></fa-icon>
            </button>
        </div>
    </div>
</nav>