/* navbar.component.css */
/* .navbar {
    color: #333;
} */

.toggle-button,.loc-button,.git-button,.yt-button{
    background-color: #eee;
    color: #333;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loc-button:hover, .fa-icon {
    color: #1b8600;
}

.yt-button:hover, .fa-icon {
    color: #f80505;
}

.git-button:hover, .fa-icon {
    color: #081cfb;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}